.titulo-pagina{
  font-family: Roboto;
  font-size: 20px;
  margin-left: 20px;
  color: #494949;
}

.mdl-grid{
  display: flex;
  margin: 0 auto;
  align-items: stretch;
}

section.relatorio-card {
  max-width: 98%;
  width: 100%;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  align-items: stretch;
  margin-top: 30px;
  padding-top: 0%;
}
.linha{
  max-width: 100%;
  margin-left: 20px;
  margin-right: 25px;
}
