<header class="headerGlobal mdl-layout__header" style="background-color:#008080;">
  <button class="mdl-layout__drawer-button" (click)="toggleMenu()">
    <span class="material-icons">&#58834;</span>
  </button>

  <div class="mdl-layout__header-row">
    <span class="headerGlobal__title mdl-layout-title">Assist Support </span>

    <div class="mdl-layout-spacer"></div>
  </div>
</header>
<section class="headerGlobal__menuArea mdl-layout__drawer" [ngClass]="{ 'headerGlobal__menuArea--active': isMenuOpen }">
  <span class="mdl-layout-title">
    <!-- <img class="headerGlobal__logo" src="assets/img/logo.svg" alt="AssistSupport"> -->
    <div [routerLink]="'/dashboard'"></div>

  </span>

  <header class="headerGlobal__userInfo">
    <div class="headerGlobal__userInfoData">
      <h5 class="headerGlobal__userInfoDataName">{{userLogado.name}}</h5>
      <span>{{userLogado.email}}</span>
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>

  <nav class="mdl-navigation">
    <a [routerLink]="'/dashboard'" routerLinkActive="mdl-navigation__link--current" class="mdl-navigation__link"
      *ngIf="userLogado.profile!='Cliente'">
      <span class="material-icons">dashboard</span> Dashboard
    </a>
    <a [routerLink]="'/tickets'" class="mdl-navigation__link">
      <span class="material-icons">assignment</span> Tickets
    </a>
    <a routerLink="/tickets/meus-tickets" routerLinkActive="mdl-navigation__link--current" class="mdl-navigation__link">
      <span class="material-icons">fact_check</span> Meus Tickets
    </a>
    <a [routerLink]="'/users'" routerLinkActive="mdl-navigation__link--current" class="mdl-navigation__link"
      *ngIf="userLogado.profile=='Administrador'">
      <span class="material-icons">person</span> Usuários
    </a>
    <a [routerLink]="'/projects'" routerLinkActive="mdl-navigation__link--current" class="mdl-navigation__link"
      *ngIf="userLogado.profile!='Cliente'">
      <span class="material-icons">description</span> Projetos
    </a>
    <a (click)="showSubmenu()" class="mdl-navigation__link" *ngIf="userLogado.profile=='Administrador'">
      <span class="material-icons">article</span> Relatórios
      <!-- sub menu only visible when clicked on the link above -->
      <div *ngIf="relatorioclicked" style="margin-left: 25px;">
        <div style="margin-bottom: 5px;">
          <a style="color: rgb(56, 56, 56);" (click)="notToggleSubmenu()" [(ngModel)]="relatorioLink"
            [routerLink]="'/relatorios'">Ticket por projeto</a><br>
        </div>
         <div style="margin-bottom: 5px;">
          <a style="color: rgb(56, 56, 56);" (click)="notToggleSubmenu()" [(ngModel)]="relatorioLink"
            [routerLink]="'/relatorios/usuarios'">Ticket por usuário</a><br>
        </div>

      </div>

    </a>

    <a [routerLink]="'/login'" class="mdl-navigation__link" (click)="logout()">
      <span class="material-icons">logout</span> Logout
    </a>
  </nav>


</section>
<!-- FECHAR MENU EM QUALQUER LUGAR DA TELA -->
<div class="headerGlobal__menuOverlay" (click)="toggleMenu()"></div>
<!-- <div class="headerGlobal__menuOverlay"></div> -->
