<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <assist-header></assist-header>

  <main class="mdl-layout__content">

    <section class="user-form-card demo-card-wide mdl-card mdl-shadow--2dp">

      <div class="mdl-card__actions card-btn">
        <button class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised buttons-top" mat-button
          (click)="openDialog()">Histórico</button>
          <button class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised buttons-top" mat-button
          (click)="openComments()">Comentário</button>
          <button class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised buttons-top"
          (click)="resolverTicket()" *ngIf="userLogado.profile!='Cliente'">Resolver Ticket</button>
        <button class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised buttons-top"
          (click)="editarTicket()" *ngIf="userLogado.profile!='Cliente'">Salvar Alterações</button>
      </div>
      <hr class="linha">

      <div class="titulo-form">
        <label>{{ticket.number}}</label>
      </div>

      <div>
        <input id="subject" value="{{ticket.subject}}" class="titulo-form2" disabled="">
      </div>

      <hr class="linha">

      <div class="page-content">
        <div class="mdl-grid">
          <form class="formStyle" [formGroup]="formTicket" disabled="statusResolvido">
            <table>
              <tr>
                <!-- ABERTURA  -->
                <td> <label class="label-1 label-titulo-1">Data de criação</label>
                </td>
                <td> <input class="data" value="{{ticket.createdAt |
                  date:'dd/MM/yyyy'}}" disabled>
                </td>
              </tr>
              <tr>
                <!-- Fechamento  -->
                <td> <label class="label-1 label-titulo-1">Data de fechamento</label>
                </td>
                <td> <input class="data" value="{{ticket.closedAt |
                  date:'dd/MM/yyyy'}}" disabled>
                </td>
              </tr>
              <tr>
                <!-- PRIORIDADE  -->
                <td> <label class="label-1 label-titulo-1">Prioridade</label>
                </td>
                <td> <select #mySelectPriority class="mdl-textfield__input selector-priority" id="priority" name="priority" formControlName="priority" (change)="setPriority(mySelectPriority.value)">
                    <option hidden>{{ticket.priority}}</option>
                    <option>Alta</option>
                    <option>Média</option>
                    <option>Baixa</option>
                  </select></td>
              </tr>
              <tr>
                <!-- TIPO  -->
                <td> <label class="label-1 label-titulo-1">Tipo</label>
                </td>
                <td>
                  <select #mySelectType class="mdl-textfield__input selector-priority" id="type" name="type" formControlName="type" (change)="setType(mySelectType.value)">
                    <option hidden>{{ticket.type}}</option>
                    <option>Solicitação</option>
                    <option>Dúvida</option>
                    <option>Problema</option>
                  </select>
                </td>
              </tr>
              <tr>
                <!-- STATUS  -->
                <td> <label class="label-1 label-titulo-1">Status</label>
                </td>
                <td>  <select #mySelectStatus class="mdl-textfield__input selector-priority" id="status" name="status" formControlName="status"  (change)="setStatus(mySelectStatus.value)">
                  <option hidden>{{ticket.status}}</option>
                  <option>Resolvido</option>
                  <option>Em andamento</option>
                  <option>Pendente</option>
                  <option>Duplicado</option>
                  <option>Fechado</option>
                  <option>Cancelado</option>
                  <!-- <option *ngFor="let item of listStatus" value="{{item.name}}">
                    {{item.name}}
                  </option> -->
                </select>
                </td>
              </tr>
              <!-- SOLICITANTE  -->
              <tr>
                <td><label class="label-1 label-titulo-1">Solicitante</label> </td>
                <td>
                  <input id="requester" class="data-2" value="{{ticket.requester.name}}" disabled>
                </td>
              </tr>
              <!-- CONTATO  -->
              <tr>
                <td><label class="label-1 label-titulo-1">Contato</label> </td>
                <td>
                  <input class="data-3" value="{{ticket.requester.email}}" disabled>
                </td>
              </tr>
              <tr>
                <!-- RESPONSAVEL  -->
                <td><label class="label-1 label-titulo-1">Responsável</label> </td>
                <td> <select class="mdl-textfield__input selector-requester" id="responsible" name="responsible"
                    formControlName="responsible">
                    <option hidden>{{ticket.responsible.name}}</option>
                    <option *ngFor="let responsible of responsiblesList" [ngValue]="responsible" >
                      {{ responsible.name }}
                    </option>
                  </select></td>
              </tr>
              <tr>
                <!-- PROJETO  -->
                <td><label class="label-1 label-titulo-1">Projeto</label> </td>
                <td>
                  <input id="project" class="data-3" value="{{ticket.project.name}}" disabled>
                  <!-- <select class="mdl-textfield__input selector-requester" id="project" name="project"
                    formControlName="project">
                    <option hidden>{{ticket.project.name}}</option>
                    <option *ngFor="let project of listProjects" [ngValue]="project">
                      {{ project.name }}
                    </option>
                  </select> -->
                </td>
              </tr>
              <tr>
                <!-- DESCRIÇÃO  -->
                <label class="label-1">Descrição</label>
                <td>
                  <textarea formControlName="description" autofocus required type="text" name="description"
                    class="input-layout-2" value="{{ticket.description}}" disabled>{{ticket.description}}</textarea>
                </td>
              </tr>

            </table>

          </form>

          <hr class="linha2">
          <!-- COMENTÁRIO  -->
          <div>
            <label class="label-comment">Novo Comentário</label>
          </div>
          <div>
            <textarea autofocus type="text" name="comment" [(ngModel)]="comentarioText"
            class="input-layout-4"> </textarea>
          </div>

          <div class="mdl-card__actions card-btn">
            <button class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised btn-cadastrar"
            (click)="salvarComentario()">
              Salvar Comentário
            </button>
            <button [routerLink]="'/tickets'" class="mdl-button mdl-button--colored mdl-button--raised btn-cancelar"
              type="button" style="margin-left: 10px;">
              Voltar
            </button>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
