.titulo-form{
  font-family: Roboto;
  font-size: 20px;
  margin-left: 26px;
  margin-top: 30px;
  color: #293846;
  margin-bottom: 20px;
}
.linha{
  width: 95%;
  margin-left: 26px;
}
.label-1{
  font-size: 16px;
  font-family: Roboto;
  font-weight: 550;
}
.label-2{
  font-size: 16px;
  font-family: Roboto;
  font-weight: 550;
  margin-top: 20px;

}
.status-label{
  margin-left: 2px;
}
.label-status{
  margin-top: 60px;
  margin-left: 10px;
}
.label-titulo-1{
  margin-bottom: 150px;
}
.td-float{
  float: left !important;
}
.input-name{
  font-size: 15px;
  font-family: Roboto;
  margin-left: 61px;
  margin-top: -200px;
  width: 650px;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.336);
  height: 30px;
  border-radius: 5px;
}
.input-email{
  font-size: 15px;
  font-family: Roboto;
  margin-left: 61px;
  margin-top: 15px;
  width: 350px;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.336);
  height: 30px;
  border-radius: 5px;
}
.input-cpf{
  font-size: 15px;
  font-family: Roboto;
  margin-left: 61px;
  margin-top: 15px;
  width: 350px;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.336);
  height: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.input-password{
  font-size: 15px;
  font-family: Roboto;
  margin-left: 61px;
  margin-top: 0px;
  width: 350px;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.336);
  height: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.input-senha{
  font-size: 15px;
  font-family: Roboto;
  margin-left: 61px;
  width: 250px;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.336);
  height: 30px;
  border-radius: 5px;
}
.selector-type{
  z-index: 1000;
  margin-left: 61px;
  margin-top: 15px;
  font-size: 15px;
  font-family: Roboto;
  border: 1px solid rgba(0, 0, 0, 0.336);
  width: 200px;
  border-radius: 5px;
}
section.user-form-card {
  max-width: 96%;
  width: 100%;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  align-items: stretch;
  margin-top: 30px;
  padding-top: 0%;
}

.formStyle{
  margin-top: 15px;
  margin-left: 20px;
}
.card-btn{
  padding-bottom: 30px;
}
.btn-cancelar{
  background-color: crimson;
  margin-top: 25px;

}
.btn-cadastrar{
  background-color: rgb(29, 116, 247);
  margin-top: 25px;
}
.espaco{
  border-color: white;
  margin-bottom: -5px;
}

