<html lang="en">
<assist-header></assist-header>

<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

  <main class="mdl-layout__content mdl-color--grey-100">
    <section class="mdl-grid demo-content">

      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid">
            <h1 class="mt-4">Dashboard</h1>

            <!-- TICKETS PENDENTES  -->
            <div class="row">
              <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                  <div class="card-body card-text">{{this.counter.qtdPendente}}</div>
                  <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link subtitulo-card">Tickets Pendentes</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                  </div>
                </div>
              </div>

              <!-- TICKETS APROPRIADOS  -->
              <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                  <div class="card-body card-text">{{this.counter.qtdApropriado}}</div>
                  <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link subtitulo-card">Tickets Apropriados</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                  </div>
                </div>
              </div>

              <!-- TICKETS RESOLVIDOS  -->
              <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                  <div class="card-body card-text">{{this.counter.qtdConcluido}}</div>
                  <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link subtitulo-card">Tickets Resolvidos</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                  </div>
                </div>
              </div>

              <!-- TICKETS TOTAL  -->
              <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                  <div class="card-body card-text">{{this.counter.qtdTotal}}</div>
                  <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link subtitulo-card">Tickets Total</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                  </div>
                </div>
              </div>
            </div>

            <!-- TABELAS -->
            <div class="row">
              <div class="col-xl-6 col-md-6">
                <!-- TABELA DE TICKETS A VENCER -->
                <div class="card mb-4">
                  <div class="card-header"><i class="fas fa-table mr-1"></i>Tickets a vencer</div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>Número</th>
                            <th>Título</th>
                            <th>Data vencimento</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let ticket of this.ticketsList">
                            <td class="columStyle mdl-data-table__cell--non-numeric">{{ticket.id}}</td>
                            <td class="columStyle mdl-data-table__cell--non-numeric">{{ticket.subject}}</td>
                            <td class="columStyle mdl-data-table__cell--non-numeric">{{ticket.dueDate |
                              date:'dd/MM/yyyy'}}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-6 col-md-6">
                <!-- TABELA DE TICKETS VENCIDOS -->
                <div class="card mb-4">
                  <div class="card-header"><i class="fas fa-table mr-1" ></i>Tickets vencidos</div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>Número</th>
                            <th>Título</th>
                            <th>Data vencimento</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let ticket of this.ticketsVencidos">
                            <td class="columStyle mdl-data-table__cell--non-numeric">{{ticket.id}}</td>
                            <td class="columStyle mdl-data-table__cell--non-numeric">{{ticket.subject}}</td>
                            <td class="columStyle mdl-data-table__cell--non-numeric">{{ticket.dueDate |
                              date:'dd/MM/yyyy'}}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </main>

      </div>
    </section>
  </main>
</div>

</html>
