<!-- <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

  <assist-header></assist-header>

  <section class="card-list">
    <table class="table">
      <tr>
        <td>
          <section class="card-total">
            <div class="demo-card-square mdl-card mdl-shadow--2dp">
              <div class="mdl-card__title mdl-card--expand card-titulo-total">
                <div class="mdl-card__title-text">500</div>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                  TICKETS ABERTOS
                </a>
              </div>
            </div>
          </section>
        </td>
        <td>
          <section class="card-meus">
            <div class="demo-card-square mdl-card mdl-shadow--2dp">
              <div class="mdl-card__title mdl-card--expand card-titulo-meus">
                <div class="mdl-card__title-text">30</div>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                  MEUS TICKETS
                </a>
              </div>
            </div>
          </section>
        </td>
        <td>
          <section class="card-meus-pendentes">
            <div class="demo-card-square mdl-card mdl-shadow--2dp">
              <div class="mdl-card__title mdl-card--expand card-titulo-pend">
                <div class="mdl-card__title-text">10</div>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                  MEUS TICKETS PENDENTES
                </a>
              </div>
            </div>
          </section>
        </td>
        <td>
          <section class="card-meus-fechados">
            <div class="demo-card-square mdl-card mdl-shadow--2dp">
              <div class="mdl-card__title mdl-card--expand card-titulo-fechado">
                <div class="mdl-card__title-text">25</div>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                  MEUS TICKETS FECHADOS
                </a>
              </div>
            </div>
          </section>
        </td>
      </tr>
    </table>
 </section>
 <section class="u-list" >
  <table class="table mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
      <th class="columStyle mdl-data-table__cell--non-numeric titulo">Numero</th>
      <th class="columStyle mdl-data-table__cell--non-numeric titulo">Titulo</th>
      <th class="columStyle mdl-data-table__cell--non-numeric titulo">Projeto</th>
      <th class="columStyle mdl-data-table__cell--non-numeric titulo">Status</th>
      <th class="columStyle mdl-data-table__cell--non-numeric titulo">Prioridade</th>
      <th class="columStyle mdl-data-table__cell--non-numeric titulo">Tipo</th>
    </thead>
    <tbody>
      <tr>
        <td class="columStyle mdl-data-table__cell--non-numeric">teste1</td>
        <td  class="columStyle mdl-data-table__cell--non-numeric">teste2</td>
        <td  class="columStyle mdl-data-table__cell--non-numeric">teste3</td>
        <td  class="columStyle mdl-data-table__cell--non-numeric">teste3</td>
        <td  class="columStyle mdl-data-table__cell--non-numeric">teste3</td>
        <td  class="columStyle mdl-data-table__cell--non-numeric">teste3</td>
      </tr>
    </tbody>
  </table>
</section>

</div> -->
