.btn-close{
  margin-right: 10px;
  width: 100px;
  height: 35px;
  margin-bottom: 25px;
  margin-top: 10px;
}
.btn-print{
  width: 100px;
  height: 35px;
  margin-bottom: 25px;
  margin-top: 10px;
}
