<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <assist-header></assist-header>

  <main class="mdl-layout__content">
    <div class="container-fluid">
      <h1 class="mt-4 titulo-pagina">Usuários</h1>

      <button class="mdl-button mdl-button--colored mdl-button--raised btn-new-user" type="button" [routerLink]="'/cadastro'">
        NOVO USUÁRIO </button>
      <br>

      <div class="page-content">
        <div class="mdl-grid">

          <main class="mdl-layout__content">
            <div class="container-fluid">
              <div class="card mb-4">

                <div class="card-header"><i class="fas fa-table mr-1"></i>Todos os usuários</div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <th class="columStyle mdl-data-table__cell--non-numeric titulo"></th>
                        <th class="columStyle mdl-data-table__cell--non-numeric titulo">Código</th>
                        <th class="columStyle mdl-data-table__cell--non-numeric titulo">Nome</th>
                        <th class="columStyle mdl-data-table__cell--non-numeric titulo">E-mail</th>
                        <th class="columStyle mdl-data-table__cell--non-numeric titulo">Status</th>
                        <th class="columStyle mdl-data-table__cell--non-numeric titulo">Perfil</th>
                        <th class="columStyle mdl-data-table__cell--non-numeric titulo">Ações</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let user of this.userList">
                          <td class="actions columStyle mdl-data-table__cell--non-numeric"><i class="material-icons mdl-list__item-icon">person</i></td>
                          <td class="columStyle mdl-data-table__cell--non-numeric">{{user.id}}</td>
                          <td class="columStyle mdl-data-table__cell--non-numeric">{{user.name}}</td>
                          <td  class="columStyle mdl-data-table__cell--non-numeric">{{user.email}}</td>
                          <td class="columStyle mdl-data-table__cell--non-numeric" *ngIf="!user.status">Desativado</td>
                          <td class="columStyle mdl-data-table__cell--non-numeric" *ngIf="user.status">Ativo</td>
                          <td  class="columStyle mdl-data-table__cell--non-numeric">{{user.profile}}</td>
                          <td class="actions columStyle mdl-data-table__cell--non-numeric">

                            <button (click)="this.editUser(user.id, user.name, user.email)" [routerLink]="'/cadastro'"  type="button" class="mdl-button mdl-button--raised mdl-button--colored"><i class="material-icons" >mode_edit</i></button>
                            <button (click)="this.handleDeleteUsuario(user.id)" type="button" class="mdl-button mdl-button--raised" style="margin-left: 5px;" style="background-color: red;"><i class="material-icons" style="color: blanchedalmond;">delete</i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </main>
</div>

