<h2 class="mat-dialog-title">Lista de Comentário</h2>
<div class="modal-comment mat-dialog-content" *ngIf="data.listComments.length <= 0">
  <label>Ticket não possui comentários</label>
</div>
<div class="mat-dialog-content" *ngIf="data.listComments.length > 0">
  <table  class="table" id="dataTable" width="100%" cellspacing="0">
    <tbody>
        <tr *ngFor="let item of data.listComments">
          <td>
            <label>{{item.createdAt | date:'dd/MM/yyyy'}} {{item.user.name}} <br> {{item.comment}} </label>
          </td>
        </tr>
    </tbody>
  </table>
</div>

<div class="mat-dialog-actions aling='end'">
  <button mat-button (click)="onNoClick()">Close</button>
</div>

