<h2 class="mat-dialog-title">Histórico ticket</h2>
<div class="mat-dialog-content">
  <table class="table" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <th><label class="label-1">Histórico</label></th>
      <th><label class="label-1">Data</label></th>
      <th><label class="label-1">Status</label></th>
      <th><label class="label-1">Titulo</label></th>
      <th><label class="label-1">Descrição ticket</label></th>
      <th><label class="label-1">Responsável</label></th>
      <th><label class="label-1">Prioridade</label></th>
      <th><label class="label-1">Tipo</label></th>
    </thead>
    <tbody>
      <tr *ngFor="let historico of data.list">
        <td> <label> {{historico.description}} </label></td>
        <td><label></label>{{historico.createdAt | date:'dd/MM/yyyy'}}</td>
        <td><label> {{historico.status}} </label></td>
        <td><label> {{historico.subject}} </label></td>
        <td><label>{{historico.ticket_description}}</label></td>
        <td><label></label></td>
        <td><label></label>{{historico.priority}}</td>
        <td><label></label>{{historico.type}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="mat-dialog-actions aling='end'">
  <button mat-button (click)="onNoClick()">Close</button>
</div>
