<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <assist-header></assist-header>

  <main class="mdl-layout__content">

    <section class="project-form-card demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="titulo-form">
        <label>Cadastrar Projeto</label>
      </div>

      <hr class="linha">

      <div class="page-content">
        <div class="mdl-grid">

          <form class="formStyle" [formGroup]="formProjeto" (ngSubmit)="handleCadastrarProjeto()">

            <table>
              <tr>
                <!-- NOME  -->
                <td> <label class="label-1 status-label">Nome</label>
                  <label style="color:red;padding-left:2px;vertical-align:central">*</label>
                </td>
                <td class="td-float"><input formControlName="name" autofocus required type="text" name="name" class="input-name-new" assistFormField>
                </td>
              </tr>

              <tr>
                <!-- DESCRIÇÃO  -->
                <td> <label class="label-1 status-label">Descrição</label>
                  <label style="color:red;padding-left:2px;vertical-align:central">*</label>
                </td>
                <td class="td-float"><input class="input-responsible" formControlName="description" required type="text" name="description" assistFormField>
                </td>
              </tr>

              <tr>
                <!-- RESPONSÁVEL  -->
                <td> <label class="label-1 status-label">Responsável</label>
                  <label style="color:red;padding-left:2px;vertical-align:central">*</label>
                </td>
                <td class="td-float"><select class="mdl-textfield__input selector-project" id="responsible" name="responsible"
                    formControlName="responsible" class="input-responsible">
                    <option value="" disabled>Choose a Responsible</option>
                    <option *ngFor="let responsible of responsiblesList" [ngValue]="responsible">
                      {{ responsible.name }}
                    </option>
                  </select>
                </td>
              </tr>
            </table>

            <!-- status -->

            <!-- style="margin-left: -115px; margin-top: 20px; margin-bottom: -15px;"  -->
            <div>
              <label class="label-1 status-label">Status</label>
            </div>
            <hr class="espaco">

            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
              <input formControlName="status" type="checkbox" id="statusCheckbox" name="Ativo"
                style="margin-left: 5px; margin-right: 20px;">
              <span class="mdl-checkbox__label">Ativo</span>
            </label>

            <div class="mdl-card__actions card-btn">
              <button class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised btn-cadastrar">
                {{this.id? 'Editar' : 'Cadastrar'}}
              </button>

              <button (routerLink)="'/projects'" class="mdl-button mdl-button--colored mdl-button--raised btn-cancelar" type="button"
                style="margin-left: 10px;">
                cancelar
              </button>
            </div>

            <ul *ngIf="mensagensErro" class="mdl-textfield is-invalid">
              <li *ngFor="let erro of mensagensErro" class="mdl-textfield__error">
                {{erro.message}}: {{erro.value}}
              </li>
            </ul>

          </form>
        </div>

      </div>
    </section>
  </main>
</div>
