<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <assist-header></assist-header>

  <main class="mdl-layout__content">

    <section class="project-form-card demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="titulo-form">
      <label >Cadastrar Projeto</label>
    </div>
    <div class="page-content">
      <div class="mdl-grid">
        <div>
        <form  class="formStyle" [formGroup]="formProjeto" (ngSubmit)="cadastrarProjeto()">
          <!-- nome -->
          <assist-form-group [campo]="formProjeto.get('name')">
            <input formControlName="name" autofocus required type="text" name="name" assistFormField>
            <!-- se tiver erros, entao... -->
            <div *ngIf="formProjeto.get('name').errors">
              <!-- errors.required... -->
              <span class="mdl-textfield__error" *ngIf="formProjeto.get('name').errors.required">
                Informar um nome é obrigatório!
              </span>
              <!-- errors.minlength... -->
              <span class="mdl-textfield__error" *ngIf="formProjeto.get('name').errors.minlength">
                Você preencheu {{ formProjeto.get('name').errors.minlength.actualLength }} caracteres
                de {{ formProjeto.get('name').errors.minlength.requiredLength }}
              </span>
            </div>
          </assist-form-group>

          <!-- descrição -->
          <assist-form-group [campo]="formProjeto.get('description')">
            <input formControlName="description" required type="text" name="description" assistFormField>
            <span class="mdl-textfield__error">Informar descrição é obrigatório!</span>
          </assist-form-group>

          <!-- status -->
          <assist-form-group [campo]="formProjeto.get('status')">
            <input formControlName="status" type="checkbox" id="statusCheckbox" name="Ativo" assistFormField>
          </assist-form-group>


          <div class="mdl-card__actions card-btn">
            <button class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised">
              Cadastrar
            </button>

            <button [routerLink]="'/projects'" class="mdl-button mdl-button--colored mdl-button--raised" type="button"
              style="margin-left: 10px;">
              cancelar
            </button>
          </div>

          <ul *ngIf="mensagensErro" class="mdl-textfield is-invalid">
            <li *ngFor="let erro of mensagensErro" class="mdl-textfield__error">
              {{erro.message}}: {{erro.value}}
            </li>
          </ul>

        </form>
       </div>

      </div>
    </div>
    </section>
  </main>
</div>
