.titulo-form{
  font-family: Roboto;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 30px;
  color: #757575;
}

.formStyle{
  margin-top: 15px;
  margin-left: 20px;
}

section.project-form-card {
  max-width: 96%;
  width: 100%;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  align-items: stretch;
  margin-top: 30px;
  padding-top: 0%;
}
.card-btn{
  padding-bottom: 30px;
}

