<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <assist-header></assist-header>

  <main class="mdl-layout__content">
    <div class="container-fluid">
      <h1 class="mt-4 titulo-pagina">Projetos</h1>

      <button class="mdl-button mdl-button--colored mdl-button--raised btn-new-user" type="button" [routerLink]="'/projectForm'">
        NOVO PROJETO </button>
      <br>

      <div class="page-content">
        <div class="mdl-grid">

          <main class="mdl-layout__content">
            <div class="container-fluid">
              <div class="card mb-4">

                <div class="card-header"><i class="fas fa-table mr-1"></i>Todos os projetos</div>
                <div class="card-body">
                    <!-- Filtros -->
                    <label class="label-pesquisa">Filtrar projetos</label>
                    <input class="input-busca" #myInput placeholder="Número do Projeto..." [(ngModel)]="number"
                      (input)="filterItem(myInput.value)">

                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <th class="columStyle mdl-data-table__cell--non-numeric titulo">Número</th>
                        <th class="columStyle mdl-data-table__cell--non-numeric titulo">Nome</th>
                        <th class="columStyle mdl-data-table__cell--non-numeric titulo">Descrição</th>
                        <th class="columStyle mdl-data-table__cell--non-numeric titulo">Status</th>
                        <th class="columStyle mdl-data-table__cell--non-numeric titulo">Data criação</th>
                        <th class="columStyle mdl-data-table__cell--non-numeric titulo">Ações</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let project of this.filteredItems">
                          <td class="columStyle mdl-data-table__cell--non-numeric">{{project.number}}</td>
                          <td class="columStyle mdl-data-table__cell--non-numeric">{{project.name}}</td>
                          <td class="columStyle mdl-data-table__cell--non-numeric">{{project.description}}</td>
                          <td class="columStyle mdl-data-table__cell--non-numeric" *ngIf="!project.status">Desativado</td>
                          <td class="columStyle mdl-data-table__cell--non-numeric" *ngIf="project.status">Ativo</td>
                          <td class="columStyle mdl-data-table__cell--non-numeric">{{project.createdAt | date:'dd/MM/yyyy'}}</td>
                          <td class="actions columStyle mdl-data-table__cell--non-numeric">

                            <button routerLink="/projectForm/{{project.id}}" type="button"
                              class="mdl-button mdl-button--raised mdl-button--colored"><i
                                class="material-icons">mode_edit</i></button>
                            <button (click)="this.onDelete(project.id)" type="button" class="mdl-button mdl-button--raised"
                              style="margin-left: 5px;" style="background-color: red;"><i class="material-icons"
                                style="color: blanchedalmond;">delete</i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </main>
      </div>
      <ng-template #deleteModal>
        <div class="modal-body text-center">
          <p>Confirma exclusão do usuário?</p>
          <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
          <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Não</button>
        </div>
      </ng-template>
