<div class="mdl-layout mdl-js-layout">
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">
        <article class="demo-card-wide mdl-card mdl-shadow--2dp">
          <header class="mdl-card__title">
            <h1 class="mdl-card__title-text">Bem vindo ao AssistSupport!</h1>
          </header>

          <form autocomplete="off" class="mdl-card__supporting-text" (ngSubmit)="handleLogin(formLogin)"
            #formLogin="ngForm" autocomplete="off" class="mdl-card__supporting-text">
            <!-- aqui os campos do formulário -->
            <assist-form-group [campo]="email" >
              <input type="email" #email="ngModel" [(ngModel)]="login.email" name="email"  assistFormField required autofocus>
              <span class="mdl-textfield__error" *ngIf="email.invalid"> Informar um email é obrigatório!</span>
            </assist-form-group>

            <assist-form-group [campo]="password">
              <input type="password" #password="ngModel" [(ngModel)]="login.password" name="password" assistFormField required
                autofocus>
              <span class="mdl-textfield__error" *ngIf="password.invalid">
                Informar uma senha é obrigatória!
              </span>
            </assist-form-group>

            <section *ngIf="mensagemErro" class="mdl-textfield is-invalid">
              <p class="mdl-textfield__error">Login inválido.
              </p>
            </section>

            <div class="mdl-card__actions">
              <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent entrar">
                Entrar
              </button>
            </div>


          </form>

        </article>
      </div>
    </div>
  </main>
</div>
