.titulo-form{
  font-family: Roboto;
  font-size: 20px;
  margin-left: 26px;
  margin-top: 30px;
  color: #293846;
  margin-bottom: 15px;
  font-weight: 550;

}
.subtitulo-form{
  font-family: Roboto;
  font-size: 15px;
  margin-left: 26px;
  color: #293846;
}
.linha{
  width: 95%;
  margin-left: 26px;
}
section.user-form-card {
  max-width: 96%;
  width: 100%;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  align-items: stretch;
  margin-top: 30px;
  padding-top: 0%;
}
.formStyle{
  margin-left: 25px;
}
.card-btn{
  padding-bottom: 30px;
}
.selector-requester{
  z-index: 1000;
  margin-left: 15px;
  font-size: 15px;
  font-family: Roboto;
  border: 1px solid rgba(0, 0, 0, 0.336);
  width: 450px;
  border-radius: 5px;
  margin-bottom: 15px;

}
.selector-priority{
  z-index: 1000;
  margin-left: 15px;
  font-size: 15px;
  font-family: Roboto;
  border: 1px solid rgba(0, 0, 0, 0.336);
  width: 200px;
  border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 12px;

}
.selector-project{
  z-index: 1000;
  margin-left: 15px;
  font-size: 15px;
  font-family: Roboto;
  border: 1px solid rgba(0, 0, 0, 0.336);
  width: 300px;
  border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 14px;
}
.selector-type{
  z-index: 1000;
  margin-left: 15px;
  font-size: 15px;
  font-family: Roboto;
  border: 1px solid rgba(0, 0, 0, 0.336);
  width: 200px;
  border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 10px;

}
.label-1{
  font-size: 16px;
  font-family: Roboto;
  font-weight: 550;
  margin-bottom: 15px;
}
.input-layout{
  font-size: 15px;
  font-family: Roboto;
  margin-left: 15px;
  width: 840px;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.336);
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.input-layout-2{
  font-size: 15px;
  font-family: Roboto;
  margin-left: 15px;
  margin-top: 15px;
  width: 840px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.336);
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 15px;
}
.input-layout-3{
  font-size: 15px;
  font-family: Roboto;
  margin-left: 15px;
  width: 400px;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.336);
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;

}
.input-layout-cpf{
  font-size: 15px;
  font-family: Roboto;
  border: 1px solid rgba(0, 0, 0, 0.336);
  height: 25px;
  border-radius: 5px;
  margin-left: 15px;
  margin-top: 10px;

}
.btn-cancelar{
  background-color: crimson;
}
.btn-cadastrar{
  background-color: rgb(29, 116, 247);
}
.mdl-textfield{
  padding: 5px;
}


