<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <assist-header></assist-header>

  <main class="mdl-layout__content">

    <section class="user-form-card demo-card-wide mdl-card mdl-shadow--2dp">

      <div class="titulo-form">
        <label>Novo Ticket</label>
      </div>

      <div class="subtitulo-form">
        <label>Preencha abaixo os dados do novo ticket a ser criado</label>
      </div>

      <hr class="linha">

      <div class="page-content">
        <div class="mdl-grid">
          <form class="formStyle" [formGroup]="formCadastroTicket" (ngSubmit)="cadastrarTicket()">
            <table>
              <assist-form-group [campo]="formCadastroTicket.get('Titulo')">
                <tr>
                  <!-- TITULO  -->
                  <td> <label class="label-1 label-titulo-1">Título</label>
                    <label style="color:red;padding-left:2px;vertical-align:central">*</label>
                  </td>
                  <td> <input formControlName="subject" autofocus required type="text" id="subject" name="subject"
                      class="input-layout"></td>
                </tr>
              </assist-form-group>
              <tr>
                <!-- TIPO  -->
                <td> <label class="label-1 label-titulo-1">Tipo</label>
                  <label style="color:red;padding-left:2px;vertical-align:central">*</label>
                </td>
                <td> <select class="mdl-textfield__input selector-type" id="type" name="type"
                    formControlName="type">
                    <option></option>
                    <option value="Solicitação">Solicitação</option>
                    <option value="Problema">Problema</option>
                    <option value="Dúvida">Dúvida</option>
                  </select></td>
              </tr>
              <assist-form-group [campo]="formCadastroTicket.get('priority')">
                <tr>
                  <!-- PRIORIDADE  -->
                  <td> <label class="label-1 label-titulo-1">Prioridade</label>
                    <label style="color:red;padding-left:2px;vertical-align:central">*</label>
                  </td>
                  <td> <select class="mdl-textfield__input selector-priority" id="priority" name="priority"
                      formControlName="priority">
                      <option></option>
                      <option value="Alta">Alta</option>
                      <option value="Media">Média</option>
                      <option value="Baixa">Baixa</option>
                    </select></td>
                </tr>
              </assist-form-group>

              <tr>
                <!-- PROJETO  -->
                <td><label class="label-1 label-titulo-1">Projeto</label> <label
                    style="color:red;padding-left:2px;vertical-align:central">*</label></td>
                <td> <select class="mdl-textfield__input selector-project" id="project" name="project"
                    formControlName="project">
                    <option value="" disabled>Choose a project</option>
                    <option *ngFor="let project of projectList" [ngValue]="project">
                      {{ project.name }}
                    </option>
                  </select></td>
              </tr>
              <tr>
                <!-- SOLICITANTE  -->
                <td><label class="label-1 label-titulo-1">Solicitante</label> <label
                    style="color:red;padding-left:2px;vertical-align:central">*</label></td>
                <td> <select class="mdl-textfield__input selector-requester" id="requester" name="requester"
                    formControlName="requester">
                    <option value="" disabled>Choose a requester</option>
                    <option *ngFor="let requester of userList" [ngValue]="requester">
                      {{ requester.name }}
                    </option>
                  </select></td>
              </tr>
              <tr>
                <!-- DESCRIÇÃO  -->
                <label class="label-1">Descrição</label>
                <label style="color:red;padding-left:2px;vertical-align:central">*</label>
                <td>
                  <textarea formControlName="description" autofocus required type="text" name="description"
                    class="input-layout-2"></textarea>
                </td>
              </tr>
            </table>

            <!-- status -->
            <!-- <assist-form-group [campo]="formCadastroTicket.get('status')">
            <input formControlName="status" type="checkbox" id="statusCheckbox" name="Ativo" assistFormField>
          </assist-form-group> -->

            <div class="mdl-card__actions card-btn">
              <button class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised btn-cadastrar">
                Cadastrar
              </button>
              <button [routerLink]="'/tickets'" class="mdl-button mdl-button--colored mdl-button--raised btn-cancelar"
                type="button" style="margin-left: 10px;" ngClick=limparUsers()>
                cancelar
              </button>
            </div>

            <ul *ngIf="mensagensErro" class="mdl-textfield is-invalid">
              <li *ngFor="let erro of mensagensErro" class="mdl-textfield__error">
                {{erro.message}}: {{erro.value}}
              </li>
            </ul>

          </form>
        </div>
      </div>
    </section>

  </main>
</div>
